<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated correspondence -->
      <package
            uri="http://tools.vitruvius/Correspondence/1.0"
            class="tools.vitruvius.framework.correspondence.CorrespondencePackage"
            genModel="metamodel/correspondence.genmodel"/>
   </extension>

</plugin>
