<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<!-- This plugin.xml is (almost) empty on purpose, because the MirBase language is only an abstract root language 
		that shall not be used standalone. -->
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="tools.vitruv.dsls.mirbase.MirBase.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="tools.vitruv.dsls.mirbase.MirBase"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="tools.vitruv.dsls.mirbase.MirBase.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="tools.vitruv.dsls.mirbase.MirBase"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
</plugin>
