<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CommonLanguageElements -->
      <package
            uri="http://vitruv.tools/dsls/common/elements"
            class="tools.vitruv.dsls.common.elements.ElementsPackage"
            genModel="model/CommonLanguageElements.genmodel"/>
   </extension>

</plugin>
