<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated List -->
      <package
            uri="http://tools.vitruv/EChange/Feature/List/1.0"
            class="tools.vitruv.framework.change.echange.feature.list.ListPackage"
            genModel="metamodel/echange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Single -->
      <package
            uri="http://tools.vitruv/EChange/Feature/Single/1.0"
            class="tools.vitruv.framework.change.echange.feature.single.SinglePackage"
            genModel="metamodel/echange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Attribute -->
      <package
            uri="http://tools.vitruv/EChange/Feature/Attribute/1.0"
            class="tools.vitruv.framework.change.echange.feature.attribute.AttributePackage"
            genModel="metamodel/echange.genmodel"/>
   </extension>

</plugin>
