/AdditiveReferenceEChangeImpl.java
/InsertEReferenceImpl.java
/ReferenceFactoryImpl.java
/ReferencePackageImpl.java
/RemoveEReferenceImpl.java
/ReplaceSingleValuedEReferenceImpl.java
/SubtractiveReferenceEChangeImpl.java
/UpdateReferenceEChangeImpl.java
