<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.change2commandtransforming">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.transformations.packagemapping.java.java2pcm.Java2PCMChange2CommandTransformer">
      </provides>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.change2commandtransforming">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.transformations.packagemapping.java.pcm2java.PCM2JavaChange2CommandTransformer">
      </provides>
   </extension>
</plugin>
