<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="edu.kit.ipd.sdq.vitruvius.integration"
        label="Integrate Repository" style="push">
        <visibleWhen
          checkEnabled="false">
   			<with variable="activeMenuSelection">
      		<iterate
          	 ifEmpty="false">
        	 <adapt type="org.eclipse.core.resources.IResource">
              <test property="org.eclipse.core.resources.extension" value="repository" />
		         </adapt>
		      </iterate>
		   </with>
		</visibleWhen>
      </command>
    </menuContribution>
  </extension>
    <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="edu.kit.ipd.sdq.vitruvius.integration"
        label="Integrate System and Repositories" style="push">
        <visibleWhen
          checkEnabled="false">
   			<with variable="activeMenuSelection">
      		<iterate
          	 ifEmpty="false">
        	 <adapt type="org.eclipse.core.resources.IResource">
              <test property="org.eclipse.core.resources.extension" value="system" />
		         </adapt>
		      </iterate>
		   </with>
		</visibleWhen>
      </command>
    </menuContribution>
  </extension>
    <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="edu.kit.ipd.sdq.vitruvius.integration"
        label="Integrate Code" style="push">
        <visibleWhen
          checkEnabled="false">
   			<with variable="activeMenuSelection">
      		<iterate
          	 ifEmpty="false">
               <adapt type="org.eclipse.core.resources.IProject"> <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/> 
               </adapt>
		      </iterate>
		   </with>
		</visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command
          defaultHandler="edu.kit.ipd.sdq.vitruvius.integration.handler.IntegrationHandler"
          description="Does Something useful"
          id="edu.kit.ipd.sdq.vitruvius.integration"
          name="Integrate that shit">
    </command>
  </extension>
  
<!--<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="edu.kit.ipd.sdq.vitruvius.integration"
        label="Integrate Into Vitruv" style="push">
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="edu.kit.ipd.sdq.vitruvius.integration.handler.IntegrationHandler"
      id="de.vogella.plugin.htmlconverter.convert" name="Convert">
    </command>
  </extension>-->

</plugin>
