# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class

# Xtext
src-gen/
**/model/generated/
.antlr-generator-*-patch.jar

# EMF
model-gen/

# Xtend
xtend-gen/
*._trace
*.xtendbin

# Maven
target/

# Custom
EvaluationData
**/.polyglot.build.properties
tests/framework/tools.vitruv.framework.versioning.tests/*.png

bundles/others/org/org\.eclipse\.uml2\.uml/

bundles/others/org/org\.glassfish\.jersey/

Dockerfile

bundles/others/org\.eclipse\.uml2\.uml/
