# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class
*.project
*.prefs
*.classpath

# Xtext
src-gen/
**/model/generated/
.antlr-generator-*-patch.jar

# EMF
model-gen/

# Xtend
xtend-gen/
*._trace
*.xtendbin

# Maven
target/
.polyglot.build.properties

# Custom
EvaluationData
