<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.codeintegration.correspondencetypedeciding">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.transformations.ejbmapping.java2pcm.EJBCorrepondenceTypeDecider">
      </provides>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.change2commandtransforming">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.transformations.ejbmapping.java2pcm.change2commandtransforming.Change2CommandTransformingEJBJavaToPcm">
      </provides>
   </extension>
</plugin>
