<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         name="Vitruv Families Demo Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.domains.demo.families.FamiliesDomainProvider">
      </domainProvider>
   </extension>
   <extension
         name="Vitruv Insurance Demo Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.domains.demo.insurance.InsuranceDomainProvider">
      </domainProvider>
   </extension>
   <extension
         name="Vitruv Persons Demo Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.domains.demo.persons.PersonsDomainProvider">
      </domainProvider>
   </extension>
</plugin>
