<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated persons -->
      <package
            uri="http://www.example.org/persons"
            class="tools.vitruv.framework.demonstration.persons.model.persons.PersonsPackage"
            genModel="model/persons.genmodel"/>
   </extension>

</plugin>
