<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated correspondence -->
      <package
            uri="http://edu.kit.ipd.sdq.vitruvius/Correspondence/1.0"
            class="edu.kit.ipd.sdq.vitruvius.framework.correspondence.CorrespondencePackage"
            genModel="metamodel/correspondence.genmodel"/>
   </extension>

</plugin>
