<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         name="Vitruv AllElementTypes Test Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.testutils.domains.AllElementTypesDomainProvider"></domainProvider>
   </extension>
   <extension
         name="Vitruv AllElementTypes2 Test Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.testutils.domains.AllElementTypes2DomainProvider"></domainProvider>
   </extension>
   <extension
         name="Vitruv PCM Mockup Test Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.testutils.domains.PcmMockupDomainProvider"></domainProvider>
   </extension>
   <extension
         name="Vitruv UML Mockup Test Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.testutils.domains.UmlMockupDomainProvider"></domainProvider>
   </extension>
   <extension
         name="RegistryOffice Test Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.testutils.domains.RegistryOfficeDomainProvider"></domainProvider>
   </extension>
</plugin>
