<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mapping_correspondence -->
      <package
            uri="http://tools.vitruvius/Correspondence/Mapping/1.0"
            class="tools.vitruvius.extensions.dslsruntime.mapping.meta.correspondence.mapping.MappingPackage"
            genModel="model/mapping_correspondence.genmodel"/>
   </extension>

</plugin>
