<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vavemodel -->
      <package
            uri="edu.kit.ipd.sdq.vavemodel"
            class="vavemodel.VavemodelPackage"
            genModel="metamodel/vavemodel.genmodel"/>
   </extension>

</plugin>
