<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tools.vitruvius.applications.jmljava.extensions.sourcedirprovider">
      <provides
            provider="tools.vitruvius.applications.jmljava.monitorededitor.java.JavaMonitoredEditor$JavaSourceDirProvider">
      </provides>
   </extension>

</plugin>
