/CompoundAddition.java
/CompoundEChange.java
/CompoundFactory.java
/CompoundPackage.java
/CompoundSubtraction.java
/CreateAndInsertEObject.java
/CreateAndInsertNonRoot.java
/CreateAndInsertRoot.java
/CreateAndReplaceAndDeleteNonRoot.java
/ExplicitUnsetEFeature.java
/MoveEObject.java
/RemoveAndDeleteEObject.java
/RemoveAndDeleteNonRoot.java
/RemoveAndDeleteRoot.java
/ReplaceInEList.java
