<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
         uri="http://vitruv.tools/methodologisttemplate/model"
         class="tools.vitruv.cli.model.model.ModelPackage"
         genModel="target/internal/model/src/main/ecore/model.genmodel" />
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
         uri="http://vitruv.tools/methodologisttemplate/model2"
         class="tools.vitruv.cli.model.model2.Model2Package"
         genModel="/target/internal/model/src/main/ecore/model2.genmodel" />
   </extension>

</plugin>