<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="familiesDomainProvider"
         name="Families Domain Provider"
         point="tools.vitruv.framework.metamodel.domain">
      <domainProvider
            class="tools.vitruv.domains.families.FamiliesDomainProvider"></domainProvider>
   </extension>

</plugin>
