<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.change2commandtransforming">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmuml.mir.generated.modified.PCM2UMLExecutor">
      </provides>
   </extension>

</plugin>
