<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.Activator"
               id="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint"
	       name="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.class">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.javaActions.OpenJavaEditorAction"
           id="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.javaActions.OpenJavaEditorAction">
     </javaActions>
     <javaActions
           actionClass="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.javaActions.CreateJavaClassAction"
           id="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.javaActions.CreateJavaClassAction">
     </javaActions>
     <javaActions
           actionClass="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.javaActions.CreateJavaInterfaceAction"
           id="edu.kit.ipd.sdq.vitruvius.views.java.projumled4j.editor.viewpoint.javaActions.CreateJavaInterfaceAction">
     </javaActions>
  </extension>
</plugin>
