<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.synctransformationgenerating">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.framework.design.mir.generator.MIRGenerator">
      </provides>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.synctransformationgenerating">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.framework.design.mir.generator.SyncTransformationGenerating1">
      </provides>
   </extension>

</plugin>
