/AdditiveAttributeEChange.java
/AttributeFactory.java
/AttributePackage.java
/InsertEAttributeValue.java
/RemoveEAttributeValue.java
/ReplaceSingleValuedEAttribute.java
/SubtractiveAttributeEChange.java
/UpdateAttributeEChange.java
