<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kit.edu/ipd/sdq/vitruvius/framework/design/MIR" 
       class = "edu.kit.ipd.sdq.vitruvius.framework.design.mIR.MIRPackage"
       genModel = "model/generated/MIR.genmodel" /> 
	
  </extension>




</plugin>
