<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.changesynchronizing">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.framework.run.changesynchronizer.ChangeSynchronizerImpl">
      </provides>
   </extension>

</plugin>
