<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Uuid -->
      <package
            uri="http://tools.vitruv/Change/Uuid"
            class="tools.vitruv.framework.change.uuid.UuidPackage"
            genModel="model/Uuid.genmodel"/>
   </extension>

</plugin>
