<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated versioning -->
      <package
            uri="http://tools.vitruv/versioning/1.0"
            class="tools.vitruv.framework.versioning.VersioningPackage"
            genModel="model/versioning.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated versioning -->
      <package
            uri="http://tools.vitruv/versioning/1.0/conflict"
            class="tools.vitruv.framework.versioning.conflict.ConflictPackage"
            genModel="model/versioning.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated versioning -->
      <package
            uri="http://tools.vitruv/versioning/1.0/commit"
            class="tools.vitruv.framework.versioning.commit.CommitPackage"
            genModel="model/versioning.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated versioning -->
      <package
            uri="http://tools.vitruv/versioning/1.0/branch"
            class="tools.vitruv.framework.versioning.branch.BranchPackage"
            genModel="model/versioning.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated versioning -->
      <package
            uri="http://tools.vitruv/versioning/1.0/author"
            class="tools.vitruv.framework.versioning.author.AuthorPackage"
            genModel="model/versioning.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated versioning -->
      <package
            uri="http://tools.vitruv/versioning/1.0/repository"
            class="tools.vitruv.framework.versioning.repository.RepositoryPackage"
            genModel="model/versioning.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="org.eclipse.emf.ecore.EcorePackage"
            genModel="model/versioning.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://tools.vitruv/EChange/1.0"
            class="tools.vitruv.framework.change.echange.EChangePackage"
            genModel="model/versioning.genmodel"/>
   </extension>

</plugin>
