<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="edu.kit.ipd.sdq.vitruvius.framework.model.monitor.refactoringParticipants.RenameMethodParticipant"
            id="RefactoringChangeListener.renameParticipant1"
            name="RenameMethodParticipant">
            <enablement>
		      <with variable="affectedNatures">
		        <iterate operator="or">
		          <equals value="org.eclipse.jdt.core.javanature"/>
		        </iterate>
		      </with>
		      <with variable="element">
		        <instanceof value="org.eclipse.jdt.core.IMethod"/>
		      </with>
		    </enablement>            
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="edu.kit.ipd.sdq.vitruvius.framework.model.monitor.refactoringParticipants.RenameTypeParticipant"
            id="RefactoringChangeListener.renameParticipant2"
            name="RenameTypeParticipant">
            <enablement>
		      <with variable="affectedNatures">
		        <iterate operator="or">
		          <equals value="org.eclipse.jdt.core.javanature"/>
		        </iterate>
		      </with>
		      <with variable="element">
		        <instanceof value="org.eclipse.jdt.core.IType"/>
		      </with>
		    </enablement>   
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="edu.kit.ipd.sdq.vitruvius.framework.model.monitor.refactoringParticipants.RenameFieldParticipant"
            id="RefactoringChangeListener.renameParticipant3"
            name="RenameFieldParticipant">
         <enablement>
		      <with variable="affectedNatures">
		        <iterate operator="or">
		          <equals value="org.eclipse.jdt.core.javanature"/>
		        </iterate>
		      </with>
		      <with variable="element">
		        <instanceof value="org.eclipse.jdt.core.IField"/>
		      </with>
		    </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="edu.kit.ipd.sdq.vitruvius.framework.model.monitor.refactoringParticipants.MoveMethodParticipant"
            id="RefactoringChangeListener.moveParticipant1"
            name="name">
         <enablement>
		      <with variable="affectedNatures">
		        <iterate operator="or">
		          <equals value="org.eclipse.jdt.core.javanature"/>
		        </iterate>
		      </with>
		      <with variable="element">
		        <instanceof value="org.eclipse.jdt.core.IType"/>
		      </with>
		    </enablement>  
      </moveParticipant>
   </extension>

</plugin>
