<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.VitruviusEmfBuilder.id"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.VitruviusEmfBuilder">
         </run>
       </builder>
   </extension>

   <extension point="org.eclipse.ui.menus">
	    <menuContribution
	    	   allPopups="false"
	    	   locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
	        <command
	        	commandId="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.addbuilder"
	        	style="push">
	        	<visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <iterate>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.isEnabled">
                        </test>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
	        </command>
	        <command 
	        	commandId="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.removebuilder"
	         	style="push">
	         	<visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.isEnabled">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
	        </command>
	    </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
    	<command
    		 defaultHandler="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.AddBuilder" 
    		 id="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.addbuilder" 
    		 name="Add Vitruvius EMF Builder Builder">
    	</command>
	    <command
	    	 defaultHandler="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.RemoveBuilder"
	    	  id="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.removebuilder" 
	    	  name="Remove Vitruvius EMF Builder Builder">
	    </command>
	</extension>
	
	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.TestBuilderEnabled"
            id="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder.BuilderEnabled"
            namespace="edu.kit.ipd.sdq.vitruvius.casestudies.emf.builder"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
