<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--Extension point for new project wizard-->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="edu.kit.ipd.sdq.vitruvius.casestudies.vitruvius_projects"
            class="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.ui.projectwizard.NewPCMJavaProjectWizard"
            finalPerspective="org.palladiosimulator.pcmbench.perspectives.palladio"
            hasPages="true"
            id="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.PCMJavaWizard"
            name="PCM Java Project"
            project="true">
      </wizard>
      <category
            id="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava."
            name="New PCM Java Project">
      </category>
   </extension>
  
</plugin>
