<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.change2commandtransforming">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.transformations.responses.java2pcm.Change2CommandTransformingJavaToPcm">
      </provides>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.framework.contracts.change2commandtransforming">
   	<provides
    	 provider="edu.kit.ipd.sdq.vitruvius.casestudies.pcmjava.transformations.responses.pcm2java.Change2CommandTransformingPcmToJava">
      </provides>
	</extension>
</plugin>
