/CompoundAdditionImpl.java
/CompoundEChangeImpl.java
/CompoundFactoryImpl.java
/CompoundPackageImpl.java
/CompoundSubtractionImpl.java
/CreateAndInsertEObjectImpl.java
/CreateAndInsertNonRootImpl.java
/CreateAndInsertRootImpl.java
/CreateAndReplaceAndDeleteNonRootImpl.java
/CreateAndReplaceNonRootImpl.java
/ExplicitUnsetEAttributeImpl.java
/ExplicitUnsetEFeatureImpl.java
/ExplicitUnsetEReferenceImpl.java
/MoveEObjectImpl.java
/RemoveAndDeleteEObjectImpl.java
/RemoveAndDeleteNonRootImpl.java
/RemoveAndDeleteRootImpl.java
/ReplaceAndDeleteNonRootImpl.java
