<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="edu.kit.ipd.sdq.vitruvius.applications.pcmjava.reconstructionintegration.jamopp"
        label="Integrate Code" style="push">
        <visibleWhen
          checkEnabled="false">
   			<with variable="activeMenuSelection">
      		<iterate
          	 ifEmpty="false">
               <adapt type="org.eclipse.core.resources.IProject"> <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/> 
               </adapt>
		      </iterate>
		   </with>
		</visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command
          defaultHandler="edu.kit.ipd.sdq.vitruvius.applications.pcmjava.reconstructionintegration.transformations.JaMoPPIntegrationHandler"
          description="Integrates Code"
          id="edu.kit.ipd.sdq.vitruvius.applications.pcmjava.reconstructionintegration.jamopp"
          name="IntegrateCode">
    </command>
  </extension>

</plugin>
