<plugin>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.domains.java.monitoreditor.astchangelistener.postreconcile">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.monitor.java.methodextensions.changeclassifiers.MethodParameterNameChangedClassifier">
      </provides>
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.monitor.java.methodextensions.changeclassifiers.MethodBodyChangedClassifier">
      </provides>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.vitruvius.domains.java.monitorededitor">
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.monitor.java.methodextensions.changeresponder.MethodParameterNameChangedVisitor">
      </provides>
      <provides
            provider="edu.kit.ipd.sdq.vitruvius.monitor.java.methodextensions.changeresponder.MethodBodyChangedVisitor">
      </provides>
   </extension>
</plugin>
