<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tools.vitruv.applications.pcmjava.linkingintegration.pcmjamoppintegrationextending.afterbasictransformation">
      <provides
            provider="tools.vitruv.applications.pcmjava.linkingintegration.seffstatments.PCMJaMoPPCorrespondenceModelForSEFFTransformation">
      </provides>
   </extension>

</plugin>
