<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <menu
            id="tools.vitruv"
            label="Vitruvius">
         <command
               commandId="tools.vitruv.domains.java.util.gitchangereplay.applyscmchanges"
               label="Replay SCM Changes"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menu>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.commands">
    <category
          id="tools.vitruv.domains.java.util.gitchangereplay" name="scmchanges">
    </category>
    <command
          categoryId="tools.vitruv.domains.java.util.gitchangereplay"
          defaultHandler="tools.vitruv.domains.java.util.gitchangereplay.ui.commands.ApplyScmChangesCommand"
          description="Apply scm changes to files"
          id="tools.vitruv.domains.java.util.gitchangereplay.applyscmchanges"
          name="Apply SCM Changes">
    </command>
  </extension>

</plugin>
