<plugin>
   <extension
         point="tools.vitruvius.domains.java.monitorededitor.astchangelistener.postreconcile">
      <provides
            provider="tools.vitruvius.domains.java.monitorededitor.methodchange.changeclassifiers.MethodParameterNameChangedClassifier">
      </provides>
      <provides
            provider="tools.vitruvius.domains.java.monitorededitor.methodchange.changeclassifiers.MethodBodyChangedClassifier">
      </provides>
   </extension>
   <extension
         point="tools.vitruvius.domains.java.monitorededitor">
      <provides
            provider="tools.vitruvius.domains.java.monitorededitor.methodchange.changeresponder.MethodParameterNameChangedVisitor">
      </provides>
      <provides
            provider="tools.vitruvius.domains.java.monitorededitor.methodchange.changeresponder.MethodBodyChangedVisitor">
      </provides>
   </extension>
</plugin>
