<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         name="Vitruv Insurance-Persons Demo Application"
         point="tools.vitruv.framework.applications.application">
      <application class="tools.vitruv.applications.demo.insurancepersons.InsurancePersonsApplication" />
   </extension>

</plugin>
