/AdditiveReferenceEChange.java
/InsertEReference.java
/ReferenceFactory.java
/ReferencePackage.java
/RemoveEReference.java
/ReplaceSingleValuedEReference.java
/SubtractiveReferenceEChange.java
/UpdateReferenceEChange.java
