name: Continuous Integration Workflow

# workflow triggers
on:
  # manually
  workflow_dispatch:
  # PRs on `main`
  pull_request:
    branches:
    - main
  # nightly
  schedule:
  - cron: "0 3 * * *"

jobs:
  verify:
    name: Verify build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1

    - name: Setup Java and Maven cache
      uses: actions/setup-java@v3.13.0
      with:
        distribution: 'temurin'
        java-version: '17'
        check-latest: true
        cache: 'maven'

    - name: Verify build
      run: >
        ./mvnw clean verify
        --batch-mode
        --update-snapshots
        --no-transfer-progress

    - name: Stage build results
      run: mkdir staging-${{ matrix.os }} && cp **/target/*.jar staging-${{ matrix.os }}/

    - name: Upload build results
      uses: actions/upload-artifact@v3.1.3
      with:
        name: Build Results
        path: staging-*/
  
  deploy-snapshot:
    name: Deploy snapshot
    runs-on: ubuntu-latest
    needs: [verify]
    #if: github.ref == 'refs/heads/main' && github.repository_owner == 'vitruv-tools'
    strategy:
      fail-fast: true

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1

    - name: Setup Java and Maven cache
      uses: actions/setup-java@v3.13.0
      with:
        distribution: 'temurin'
        java-version: '17'
        check-latest: true
        cache: 'maven'
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Deploy snapshot
      run: >
        ./mvnw clean deploy -P snapshot
        -DskipTests
        --batch-mode
        --update-snapshots
        --no-transfer-progress
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
