name: Validation

on:
  pull_request:

jobs:
  validate_framework:
    name: Framework
    uses: ./.github/workflows/ci.yml

  build_dsls:
    name: DSLs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout DSLs
        uses: actions/checkout@v3
        with:
          path: dsls
          repository: vitruv-tools/Vitruv-DSLs
          ref: main
          fetch-depth: 0
      - name: Checkout Matching DSLs Branch
        run: |
          cd dsls
          git checkout -B ${{ github.head_ref }} origin/${{ github.head_ref }} || true
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/MANIFEST.MF') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build DSLs
        uses: GabrielBB/xvfb-action@v1
        with:
          working-directory: ./dsls
          run: >
            ./mvnw -B -U clean package
            -Dstyle.color=always
            -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.core.resolver.DefaultTychoResolver=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.osgi.configuration.MavenContextConfigurator=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.sisu.equinox.launching.internal.DefaultEquinoxLauncher=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.xtext.maven.XtextGenerateMojo=warn
            -Dorg.apache.commons.logging.Log=org.apache.commons.logging.impl.NoOpLog
        env: 
          MAVEN_OPTS: -Djansi.force=true
      - name: Store DSLs Artifact
        uses: actions/upload-artifact@v3
        with:
          name: dsls
          path: dsls/releng/tools.vitruv.dsls.updatesite/target/repository
          retention-days: 1

  validate_casestudies:
    needs: [validate_framework, build_dsls]
    name: Case Studies
    runs-on: ubuntu-latest
    steps:
      - name: Download Framework Artifact
        uses: actions/download-artifact@v3
        with:
          name: framework
          path: framework
      - name: Download DSLs Artifact
        uses: actions/download-artifact@v3
        with:
          name: dsls
          path: dsls
      - name: Checkout Case Studies
        uses: actions/checkout@v3
        with:
          path: casestudies
          repository: vitruv-tools/Vitruv-CaseStudies
          ref: main
          fetch-depth: 0
      - name: Checkout Matching Case Studies Branch
        run: |
          cd casestudies
          git checkout -B ${{ github.head_ref }} origin/${{ github.head_ref }} || true
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/MANIFEST.MF') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build and Verify Case Studies
        uses: GabrielBB/xvfb-action@v1
        with:
          working-directory: ./casestudies
          run: >
            ./mvnw -B -U clean verify
            -Dvitruv.framework.url=file:///${{ github.workspace }}/framework
            -Dvitruv.dsls.url=file:///${{ github.workspace }}/dsls
            -Dstyle.color=always
            -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.core.resolver.DefaultTychoResolver=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.osgi.configuration.MavenContextConfigurator=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.sisu.equinox.launching.internal.DefaultEquinoxLauncher=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.xtext.maven.XtextGenerateMojo=warn
            -Dorg.apache.commons.logging.Log=org.apache.commons.logging.impl.NoOpLog
        env: 
          MAVEN_OPTS: -Djansi.force=true

  validate_tool_adapters:
    needs: [validate_framework]
    name: Tool Adapters
    runs-on: ubuntu-latest
    steps:
      - name: Download Framework Artifact
        uses: actions/download-artifact@v3
        with:
          name: framework
          path: framework
      - name: Checkout Tool Adapters
        uses: actions/checkout@v3
        with:
          path: tool_adapters
          repository: vitruv-tools/Vitruv-Tool-Adapters
          ref: main
          fetch-depth: 0
      - name: Checkout Matching Tool Adapters Branch
        run: |
          cd tool_adapters
          git checkout -B ${{ github.head_ref }} origin/${{ github.head_ref }} || true
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/MANIFEST.MF') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build and Verify Tools Adapters
        uses: GabrielBB/xvfb-action@v1
        with: 
          working-directory: ./tool_adapters
          run: >
            ./mvnw -B -U package -Dmaven.test.skip=true
            -Dvitruv.framework.url=file:///${{ github.workspace }}/framework
            -Dstyle.color=always
            -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.core.resolver.DefaultTychoResolver=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.osgi.configuration.MavenContextConfigurator=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.sisu.equinox.launching.internal.DefaultEquinoxLauncher=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.xtext.maven.XtextGenerateMojo=warn
            -Dorg.apache.commons.logging.Log=org.apache.commons.logging.impl.NoOpLog
        env: 
          MAVEN_OPTS: -Djansi.force=true
